<div class="container">
  <div class="row justify-content-md-center">
    <div class="form-container" align="center">
      <img src="assets/images/lock.svg" id="lock">

      <span class="error" *ngIf="error">{{ error }}</span>

      <button (click)="loginFacebook()" id="fb" class="btn btn-primary btn-lg">Login With Facebook</button>
      <br>
      <button (click)="loginGoogle()" id="google" class="btn btn-primary btn-lg"> Login With Google</button>
      <button routerLink="/login-email" id="email" class="btn btn-primary btn-lg">Email</button>

      <a routerLink="/signup" routerLinkActive="active" class="alc">No account?
        <strong>Create one here</strong>
      </a>
    </div>
  </div>
</div>
