#toolbar {
    padding:0;
    width:90%;
    margin-left:-15%;
}


#page {
    /* height: 100; */
    padding:2em;
    margin:0;
}

#page img {
    margin-top:30px;
}

h2 {
    margin:0;
}

.right {
    /* position: absolute; */
    right: 30px;
    /* width: 300px; */
    /* border: 3px solid #73AD21; */
    padding: 5px;
}

