<div class="container">
  <div class="row justify-content-md-center">
    <div class="form-container">
      <a routerLink="/login-email" id="goback">Go back</a>
      <h2>Forgot Password</h2>

      <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>

      <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">

        <input type="text" placeholder="Email address.." (ngModel)="email" name="email" class="txt" required>

        <button type="submit" [disabled]="!formData.valid" class="basic-btn btn btn-primary btn-lg">Submit</button>
        <a routerLink="/signup" class="alc">Don't have an account?</a>
      </form>
    </div>
  </div>
</div>
