<div class="container">
  <div class="row bottom-margin-20">
    <div class="col-md-12">
      <div class="text-center">
        <h1 class="welcome-title">Welcome to Applexus ClickRetail</h1>
        <img src="assets/images/endless-aisle-kiosk-products/welcome-page-bg-2.jpg" width="100%"/>
      </div>
    </div>
  </div>
 <div class="row">
        <div class="col-md-12">
            <button routerLink="/login" class="basic-btn" style=" margin-bottom:0px;"><i class="far fa-hand-point-up"></i> Touch Here to Enter</button>
        </div>
 </div>
  <div class="row">
    <div class="col-md-12">
          <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
              <img src="{{ slide.img }}" alt="" width="100%">
            </div>
          </ngx-slick>
        </div>
  </div>
</div>
