<div class="container">
  <div class="row bottom-margin-20">
    <div class="col-md-12">
      <div class="text-center">
        <h1 class="welcome-title">Welcome</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
        <div ngxSlickItem *ngFor="let category of categoryList" class="slide">
          <!-- <img src="{{ slide.img }}" alt="" width="100%"> -->
          <button class="btn btn-primary basic-btn" type="button" (click)="getSelectedCategory(category.$key)">{{category.name}}</button>
        </div>
      </ngx-slick>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bottom-margin-15 text-center">
        <p>Currently viewing
          <strong>Sports's</strong> Category</p>
      </div>
  </div> -->
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 margin-bottom" *ngFor="let product of selectedCategoryProductList">
      <div class="card product-box">
        <div class="card-body">
            <div class="product-imitation-recommendations">
                <!-- <img class="img-responsive product-discount-lg" ng-src="/images/dis-trans-6.png" ng-if="product.DISCOUNTPERC > 0" /> -->
                <a style="cursor: pointer;">
                  <img [src]="product.images[0]" [alt]="product.name" class="img-responsive read-product-imitation"
                  />
                </a>
              </div>
              <div class="product-desc">
                <!--<small class="text-muted">{{ product.CATEGORY }}</small>-->
                <a class="product-name" style="cursor: pointer; color: #3B8598">{{product.name}}</a>
                <div class="m-xs text-righ">
                  <span style="color: #3B8598;">
                    <strong>Rating:( {{product.rating}}  out of 5)</strong>
                  </span>
                  <span class="product-price" style="color: #3B8598;">
                    <strong> {{product.price | currency}} </strong>
                  </span>
                </div>
                <div class="m-xs text-righ">
                  <small class="text-muted" *ngIf="product.quantity>0; else elseBlock">
                    <span style="color: green;"><strong>In Stock</strong></span>
                  </small>
                  <ng-template #elseBlock>
                  <small class="text-muted">
                    <span style="color: red;"><strong>Out of Stock</strong></span>
                  </small>
                </ng-template>
                   <button class="btn btn-primary basic-btn" [disabled]="product.quantity<=0" (click)="addToCart(product)"> <i class="fa fa-shopping-cart"></i> Add to Cart
                    </button>
                </div>
              </div>
        </div>
      </div>
    </div>
</div>